* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #0f172a;
}

h3 {
  margin-top: 2rem;
  color: #0369a1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

input,
textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* font-size: 1rem; */
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 0.7rem 1.2rem;
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  background-color: #0369a1;
}

.edu-group,
.exp-group,
.project-group,
.cert-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.edu-group input,
.exp-group input,
.project-group input,
.cert-group input,
.project-group textarea,
.exp-group textarea {
  flex: 1 1 30%;
  min-width: 200px;
}

textarea.desc,
textarea.project-desc {
  flex: 1 1 100%;
}
